<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

    <title>Проект по химии</title>
</head>
<header>
    <div class="container">
        <div class="box-1">A</div>
        <div class="box-2">B</div>
        <div class="box-3">C</div>
    </div>
</header>
<body>
    <div class="container1">
        <div class="box-4">
            <div class="fire"  id="fire">
                <img class="blueFlame" src="../static/Images/blueFlame.gif" alt="Your GIF">
            </div>
        </div>
        <div class="box-5">
            <div class="boxs-1">
                <button id="blueFl" onclick="changeText()">Цезий</button>
            </div>
            <div class="boxs-2">
                <button id="Cs"></button>
            </div>
            <div class="boxs-3">

            </div>
            <div class="boxs-4">

            </div>
            <div class="boxs-5">

            </div>
            <div class="boxs-6">

            </div>
            <div class="boxs-7">

            </div>
            <div class="boxs-8">

            </div>
        </div>
        <div class="box-6">
            <div class="boxs-9" id="boxs-9">
                <div class="bosx-1">Катион</div>
                <div class="bos-2" id="bos-2">B</div>
            </div>
            <div class="boxs-10">
                <div class="bosx-3">Реактив</div>
                <div class="bos-4">Пламя</div>
            </div>
            <div class="boxs-11" id="boxs-11">
                <div class="bosx-5">Характерные признаки</div>
                <div class="bos-6">B</div>
            </div>
        </div>
    </div>
    <script>
        let box1 = document.getElementById('bos-2')

        function changeText()
        {
            box1.textContent('Цезий')
        }

    </script>
</body>
</html>